<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assembler UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" style="flex-direction: row; width: 100vw; height: 100vh; padding: 20px; gap: 20px;">
        <div class="box" style="flex: 1;">
            <button class="collapsible active">Input & Output</button>
            <div class="content">

            <button class="sub-collapsible">Character Display</button>
            <div class="sub-content">
                <span class="value" id="letters-value" style="color: white; font-size: 25px; font-weight: bold; text-overflow: unset; width: fit-content; overflow: visible; background-color: #2a2a2a; display: inline-block; padding: 5px 10px; border-radius: 6px; align-items: baseline; margin-left: 0px;">{{ letters }}</span>
            </div>

            <button class="sub-collapsible">Number Display</button>
            <div class="sub-content">
                <span class="value" id="number-value" style="color: white; font-size: 25px; font-weight: bold; text-overflow: unset; width: fit-content; overflow: visible; background-color: #2a2a2a; display: inline-block; padding: 5px 10px; border-radius: 6px; align-items: baseline; margin-left: 0px;">{{ number }}</span>
            </div>

                <div class="lamp-grid">
                    <div style="display: grid; grid-template-columns: repeat(31, 15px); grid-gap: 0.5px;">
                        {% for row in screen_data %}
                            {% for pixel in row %}
                                <img
                                    src="{{ url_for('static', filename='redstone_lamp_on.png') if pixel else url_for('static', filename='redstone_lamp_off.png') }}"
                                    alt=""
                                    class="lamp-pixel"
                                />
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            <div class="controls-layout">
                <!-- Movement (WASD style) -->
                <div class="move-controls">
                    <div class="row up-row">
                        <button id="btn-up">UP</button>
                    </div>
                    <div class="row middle-row">
                        <button id="btn-left">LEFT</button>
                        <button id="btn-down">DOWN</button>
                        <button id="btn-right">RIGHT</button>
                    </div>
                </div>
                <br>
                <!-- Action buttons -->
                <div>
                    <button id="btn-select">Select</button>
                    <button id="btn-start">Start</button>
                    <button id="btn-x">X</button>
                    <button id="btn-y">Y</button>
                </div>
            </div>
            </div>
        </div>



    <div class="box" style="flex: 2;">
        <button class="collapsible active">Memory & Controls</button>
        <div class="content">
            <button class="sub-collapsible">Program Counter</button>
            <div class="sub-content">
                <div><span class="label">PC</span>: <span class="value" id="pc-value">{{ pc }}</span></div>
            </div>

            <button class="sub-collapsible">Registers</button>
            <div class="sub-content">
                {% for name, value in registers.items() %}
                    <div>
                        <span class="label">{{ name }}</span>:
                        <span class="value register-value" data-reg="{{ name }}">{{ value }}</span>
                    </div>
                {% endfor %}
            </div>

            <button class="sub-collapsible">Ports (Source, Read-Only)</button>
            <div class="sub-content">
                {% for name, value in ps.items() %}
                    <div>
                        <span class="label">{{ name }}</span>:
                        <span class="value port-ps-value" data-ps="{{ name }}">{{ value }}</span>
                    </div>
                {% endfor %}
            </div>

            <button class="sub-collapsible">Ports (Destination, Write-Only)</button>
                <div class="sub-content">
                    {% for name, value in pd.items() %}
                        <div>
                            <span class="label">{{ name }}</span>:
                            <span class="value port-pd-value" data-pd="{{ name }}">{{ value }}</span>
                        </div>
                    {% endfor %}
            </div>

            <button class="sub-collapsible">Data Memory</button>
            <div class="sub-content">
                {% for name, value in data_memory.items() %}
                    <div>
                        <span class="label">{{ name }}</span>:
                        <span class="value data-memory-value" data-mem="{{ name }}">{{ value }}</span>
                    </div>
                {% endfor %}
            </div>

            <button class="sub-collapsible">Call Stack</button>
            <div class="sub-content">
                {% for name, value in call_stack.items() %}
                    <div>
                        <span class="label">{{ name }}</span>:
                        <span class="value callstack-value" data-call="{{ name }}">{{ value }}</span>
                    </div>
                {% endfor %}
                <!-- <div><span class="label">CS</span>: <span class="value callstack-value" style="color: white; text-overflow: unset; width: fit-content; overflow: visible; background-color: #2a2a2a; display: inline-block; padding: 5px 10px; border-radius: 6px; align-items: baseline; margin-left: 0px;">{{ call_stack }}</span></div> -->
            </div>

            <button class="sub-collapsible">ALU Flags</button>
            <div class="sub-content">
                {% for name, value in alu_flags.items() %}
                    <div>
                        <span class="label">{{ name }}</span>:
                        <span class="value alu-flag-value" data-flag="{{ name }}">{{ value }}</span>
                    </div>
                {% endfor %}
            </div>

            <h4>Controls</h4>
            <div class="controls-wrapper">
                <label for="speed-slider">Instructions / Second: <output id="speed-output">{{ speed_value | default(100) }}</output></label>
                <div class="speed-control-group">
                    <button type="button" class="speed-btn" id="speed-decrement">-</button>
                    <input type="range" id="speed-slider" name="speed" min="1" max="2500" value="{{ speed_value | default(100) }}">
                    <button type="button" class="speed-btn" id="speed-increment">+</button>
                    <input type="number" id="speed-input" min="1" max="2500" value="{{ speed_value | default(100) }}">
                </div>

                <button id="reset-btn">Reset (R)</button>
                <button id="step-btn">Step (T)</button>
                <button id="stop-btn">Stop (Space)</button>
                <button id="continue-btn">Continue (C)</button>
                <button id="gen-schem-btn">Generate Schematic (G)</button>
                <div id="gen-schem-status" style="margin-top: 10px; color: limegreen;"></div>
                <input type="checkbox" name="auto-scroll" id="auto-scroll-toggle" value="no">
                <label for="auto-scroll-toggle">Auto-Scroll</label>
            </div>
        </div>
    </div>

    <div class="box" style="flex: 1;">
        <button class="collapsible active">Input & Upload</button>
        <div class="content">
            <div style="display: flex; flex-direction: column;">
                <!--
                <form method="POST" action="/" style="margin-bottom: 10px;">
                    <textarea name="codeInput" rows="30" style="width: 100%; font-size: 20px;">{{ saved_text }}</textarea>
                    <button type="submit">Save</button>
                </form>
                -->

                <textarea spellcheck="false" id="codeInput" rows="30" style="width: 100%; font-size: 20px;">{{ saved_text }}</textarea>
                <button onclick="saveText()" id="save-btn">Save</button>
                <div id="save-status" style="margin-top: 10px; color: limegreen;"></div>

                <div id="code-viewer">
                    <!--{% for line in preprocessed_assembly %}
                        <div class="code-line" data-line="{{ loop.index0 }}">{{ line|e }}</div>
                    {% endfor %}-->
                    <div id="assembly-code"></div>
                </div>

            </div>
            <div id="drop-area" style="margin-top: 10px; border: 2px dashed #444; padding: 20px; border-radius: 10px;">
                <p>Drag & Drop a .txt file here</p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>